extends ./layout.jade

block contents
    div.row
        div.large-9.columns
            article
                h1= title
                time(datetime=date.toISOString())= prettyDate
                div.body!= contents

        //-div.large-3.columns
            ul
                if previous
                    li: a(href='/'+ previous.path) <- #{previous.title}
                if next
                    li: a(href='/'+ next.path) #{next.title} ->
